<div class="container main">
  <div class="block">
    <h1 class="title">Last transactions</h1>
      <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th>Client</th>
              <th>Sell Curency</th>
              <th>Buy Curency</th>
              <th>Sell Amount</th>
              <th>Buy Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>{{transaction.transaction_id}}</td>
              <td>{{transaction.client_name}}</td>
              <td>{{transaction.buy_curency}}</td>
              <td>{{transaction.sell_curency}}</td>
              <td>{{transaction.buy_amount}}</td>
              <td>{{transaction.sell_amount}}</td>
              <td>{{ formatDate(transaction.transaction_date) }}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>