<nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <div class="title is-size-4 is-size-5-mobile has-text-white">Schimbus Valutarus</div>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" [routerLink]="['/']">
        Home
      </a>

      <a class="navbar-item" [routerLink]="['/transactions']">
        All Transactions
      </a>

      <a class="navbar-item" [routerLink]="['/ron-rates']">
        RON Rates
      </a>

      <a class="navbar-item" target="_blank" href="https://bitbucket.org/razvanst/pao-front/src/master/">
        Documentation
      </a>
    </div>
  </div>
</nav>