<div class="container main">
  <div class="block">
    <h1 class="title">Quick conversion</h1>

      <div class="field is-horizontal">
          <div class="field-body">
              <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      From
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Amount of money" [(ngModel)]="from" [value]="to/rate | number">
                  </p>
                  <p class="control">
                    <span class="select">
                      <select #selectFrom (change)="changeFrom(selectFrom.value)">
                        <option *ngFor="let c of curencies" value="{{c.curency_label}}">{{c.curency_label}}</option>
                      </select>
                    </span>
                  </p>
                </div>
                <div class="field has-addons">
                    <p class="control">
                      <a class="button is-static">
                        To
                      </a>
                    </p>
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Amount of money" [value]="from*rate | number" [(ngModel)]="to">
                    </p>
                    <p class="control">
                      <span class="select">
                        <select #selectTo (change)="changeTo(selectTo.value)">
                          <option *ngFor="let c of curencies">{{c.curency_label}}</option>
                        </select>
                      </span>
                    </p>
                  </div>
          </div>
        </div>
  </div>
</div>