<div class="container main">
    <div class="block">
      <h1 class="title">Last rates for RON</h1>
      <div class="columns is-multiline">
            <div class="column is-one-quarter" *ngFor="let rate of RONrates"> <p class="content"><span class="tag">{{rate[0]}}</span> {{rate[1]}}</p> </div>
      </div>
    </div>
  </div>